.wrapper {
	@include flexCenter;

	display: none;
	flex-direction: column;
	width: 100%;
	position: relative;
	height: 100vh;

	&.wrapper-visible {
		display: flex;
	}
}

@keyframes stars {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.white-dot {
	width: 2px;
	height: 2px;
	border-radius: 50%;
	background-color: $white;
	position: absolute;
	z-index: -1;
	animation: stars ease backwards;
}

@keyframes blueText {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes logoAnimation {
	0% {
		transform: scale(10);
	}

	100% {
		transform: scale(0.1) translate3d(0, 0, -250px);
		opacity: 0;
	}
}

@keyframes movingText {
	0% {
		transform: rotateX(21deg) translate3d(0, 100rem, 0);
		opacity: 1;
	}

	85% {
		opacity: 1;
	}

	100% {
		transform: rotateX(21deg) translate3d(0, -150rem, 0);
		opacity: 0;
	}
}

.blue-text {
	width: 100%;
	font-family: $franklinFont;
	color: $blue;
	font-size: 4rem;
	font-weight: 400;
	visibility: hidden;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	&.text-visible {
		visibility: visible;
		animation: blueText 6s ease forwards;
	}
}

.logo {
	font-size: 10rem;
	text-align: center;
	visibility: hidden;
	position: absolute;

	&.logo-visible {
		visibility: visible;
		animation: logoAnimation 10s ease forwards;
	}
}

.text-wrap {
	max-width: 30%;
	margin: 0 auto;
	perspective: 380px;
	perspective-origin: bottom;
	visibility: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	.inside-wrap {
		position: absolute;
		top: 0;
		left: 20%;
		right: 20%;

		&.moving-visible {
			visibility: visible;
			animation: movingText 90s ease forwards;
		}
	}

	h2,
	h3,
	p {
		font-family: $franklinFont;
		font-size: 1.2rem;
		line-height: 3rem;
	}

	p {
		text-align: justify;
	}

	h2,
	h3 {
		font-size: 2rem;
		text-align: center;
	}
}

@media (max-width: 1024px) {
	.blue-text {
		font-size: 3rem;
	}
}

@media (max-width: 525px) {
	.blue-text {
		font-size: 1.4rem;
	}

	.text-wrap {
		max-width: 100%;

		.inside-wrap {
			left: 5%;
			right: 5%;
		}
	}

	button {
		font-size: 1.2rem;
	}
}
