@font-face {
	font-family: 'SF Distant Galaxy AltOutline';
	src: url('../fonts/SFDistantGalaxyAltOutline.woff2') format('woff2'),
		url('../fonts/SFDistantGalaxyAltOutline.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Distant Galaxy';
	src: url('../fonts/SFDistantGalaxy.woff2') format('woff2'),
		url('../fonts/SFDistantGalaxy.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

// @font-face {
// 	font-family: 'Franklin Gothic';
// 	src: url('../fonts/FranklinGothic.woff2') format('woff2'),
// 		url('../fonts/FranklinGothic.woff') format('woff');
// 	font-weight: normal;
// 	font-style: normal;
// 	font-display: swap;
// }

@font-face {
	font-family: 'Franklin Gothic Light SSi';
	src: url('../fonts/FranklinGothicLightSSiLight.woff2') format('woff2'),
		url('../fonts/FranklinGothicLightSSiLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
