//Fonts
$standardFontSF: 'SF Distant Galaxy', sans-serif;
$outlinedFontSF: 'SF Distant Galaxy AltOutline', sans-serif;
$franklinFont: 'Franklin Gothic Light SSi', sans-serif;

// Color
$yellow: #ffe81f;
$black: #000;
$white: #fff;
$blue: #1d58b0;
